<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <client>
            <endpoint binding="basicHttpBinding"
                contract="com.matrixone.jsystem.ws.generated.ping.IPingService"
                name="IPingServiceBinding" />
        </client>
    </system.serviceModel>
</configuration>
