<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <endpointBehaviors>
                <behavior name="Client-Cert-Behavior">
                    <clientCredentials>
                        <clientCertificate findValue="12" x509FindType="FindBySerialNumber" />
                        <serviceCertificate>
                            <defaultCertificate findValue="13" storeName="TrustedPeople"
                                x509FindType="FindBySerialNumber" />
                            <authentication certificateValidationMode="PeerOrChainTrust" />
                        </serviceCertificate>
                    </clientCredentials>
                </behavior>
            </endpointBehaviors>
        </behaviors>
        <bindings>
            <customBinding>
                <binding name="SignThenEncryptCustomBinding">
                    <textMessageEncoding messageVersion="Soap11" />
                    <security defaultAlgorithmSuite="Basic128Rsa15" authenticationMode="MutualCertificate"
                        securityHeaderLayout="LaxTimestampFirst" includeTimestamp="true"
                        keyEntropyMode="CombinedEntropy" messageProtectionOrder="SignBeforeEncrypt"
                        messageSecurityVersion="WSSecurity10WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10">
                        <issuedTokenParameters keyType="AsymmetricKey" />
                        <secureConversationBootstrap />
                    </security>
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://kipp2dsy:9085/WSSampleSei/EchoService"
                behaviorConfiguration="Client-Cert-Behavior" binding="customBinding"
                bindingConfiguration="SignThenEncryptCustomBinding" contract="IPingService"
                name="IPingServiceBinding_IPingService">
                <identity>
                    <dns value="Bob" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>
